.not-found-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
h2{
    color: #ffffff;

}
p{
    color: #ffffff;
}
